*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    animation: slider 10s linear infinite;
  }

  @keyframes slider {
    0%{
        background-color: antiquewhite;
    }
    30%{
        background-color:aquamarine;
     }
     60%{
        background-color: beige;
     }
     100%{
        background-color: bisque;
     }
  }

  h1  > span {
    color: darkcyan;
    
  }

  h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
  }
  
  .school_id > span {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
  }

  .school_id {
    text-align: center;
    font-size: 30px;
    margin-bottom: 80px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  
  
  a {
    text-decoration: none;
    color: black;
    border: 1px groove black;
    border-radius: 10px;
    padding-top: 4%;
    text-align: center;
    width: auto;
    height: 50px;
    font-weight: bolder;
  }

  a:hover {
    background-color: brown;
    font-style: italic;
  }