* {
  box-sizing: border-box;
  
}

.box{
  align-content: center;
}

body{
    background-color: black;
    display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  min-height: 100vh;        /* Ensure body takes up full viewport height */
  margin: 0; 
}

.container {
    
    min-height: 100%;
    width: 600px;
    background-color: #a7a8cd;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .innerContainer {
    position: relative;
  }

  .label{
    background-color: #fdf1b4;
    width: 200px;
    height: 40px;
    font-weight: bold;
    padding: .8em 1.5em;
    font-family: "lato" serif;
    position: absolute;
    top: 10px;
    left: -10px;
    border-radius: 5px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

img {
    width: 400px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .novus {
    border: 1px solid white;
    width: 400px;
    background-color: white;
    padding: 20px;
    margin-top: -30px;
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
  }

  .novus span {
    color: rgba(0, 0, 0, 0.472);
    font-size: 15px;
  }
